body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: #e8eaf6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%;  */
}

figure {
  border: 3px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: deepPink; */
  padding: 20px;
  color: #fff;
  border-style: dotted;
}

body {
  font-family: "Nunito", sans-serif;
  color: #1b011b;
  font-weight: 300;
  line-height: 1.6;
  background: rgb(209 213 229);
}

.main-app {
  display: flex;
  height: 800px;
  padding-top: 20px;
}

.search-photos{
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
}

.background {
  color: #504e4e;
  font-weight: 500;
}

.photos-results {
  height: 80%;
  overflow: scroll;
}
.container {
  width: 60%;
  margin: 2rem auto; 
  margin-right: 10px;
}

.gallery {
  /* grid-gap: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 4vw); */
      /* grid-gap: 0; */
      display: grid;
      /* grid-gap: 10px 15px; */
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 4vw);
      /* display: grid; */
      /* grid-template-columns: repeat(6, 1fr); */
      /* grid-template-rows: repeat(6, 1fr); */
      /* grid-column-gap: 5px; */
      /* grid-row-gap: 5px; */
      /* display: grid; */
      /* grid-template-columns: repeat(9, 1fr); */
      /* grid-auto-rows: minmax(100px, auto); */
      grid-template-areas: "g1 g1 g2 g2 g3 g3" "g1 g1 g2 g2 g3 g3" "sd sd sd ft ft ft ft ft ft";
          /* grid-gap: 0; */
    display: grid;
    /* grid-gap: 10px 15px; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 4vw);
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-rows: repeat(6, 1fr); */
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    /* display: grid; */
    /* grid-template-columns: repeat(9, 1fr); */
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas: "g1 g1 g2 g2 g3 g3" "g1 g1 g2 g2 g3 g3" "sd sd sd ft ft ft ft ft ft";
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  /* grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5; */

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  /* grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5; */
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  /* grid-column-start: 9;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 8; */

  grid-column-start: 9;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--4 {
  /* grid-row-start: 5;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 6; */
  grid-row-start: 5;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery__item--5 {
  /* grid-row-start: 5;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 10; */
  grid-row-start: 5;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 9;
}

.gallery__item--6 {
  /* grid-row-start: 9;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 6; */
  grid-row-start: 9;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end: 5;
}

.gallery__item--7 {
  /* grid-row-start: 9;
  grid-row-end: 13;
  grid-column-start: 5;
  grid-column-end: 10; */
  grid-row-start: 9;
  grid-row-end: 15;
  grid-column-start: 5;
  grid-column-end: 9;
}

img {
  margin: 5px;
  cursor: grab;
}

a {
  margin-right: 20px;
}

.collageHeader > h1 {
  font-weight: 700;
}

.dropdown-content li>a, .dropdown-content li>span, a.collage-btn {
  color:#474950;
}

a.collage-btn {
  margin-top: 10px;
  margin-right: 0;
}

#saveCollage {
  padding: 10px 10px 20px 10px;
}

div.background-color {
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 54px;
}

.gallery__item--8 {
  /* grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 9;
  grid-column-end: 13; */
  grid-row-start: 7;
  grid-row-end: 15;
  grid-column-start: 9;
  grid-column-end: 14;
}

.center-align {
  text-align: center;
  font-size: x-large;
}

.top-align, .bottom-align {
  text-align: center;
}

.text-center {
  border: none;
}

.row {
  /* margin: 25px 0; */
}

.instructions-drag-n-drop{
  text-align: center;
}

.header {
  font-weight: 500;
  font-family: 'Abel';
}

.adjustment {
  color: #797878;
  /* font-size: small; */
  font-weight: 400;
  background: #d6d6d66e;
  border-radius: 10px;
  padding: 10px;
}

.search-photos{
background: #3e4776;
border-radius: 7px;
padding: 15px;
color: white;
font-size: 0.8vw;
/* height: 100vh; */
background: #e8eaf6;
border-radius: 7px;
padding: 15px;
color: #1b011b;
font-size: 0.8vw;
height: 100vh;
border: 1px solid #ababba;
box-shadow: 5px 5px #bbbdbe61;
display: flex;
flex-direction: column;
/* height: 1500px; */
}

.navbar {
  font-size: 25px;
  padding: 15px;
  background: white;
}

div.list-icon {
  color: black;
  cursor: pointer;
}

a.btn {
  font-size: 25px;
  /* height: 2em; */
  padding: 1vh 1vh;
  /* margin: 10px; */
  display: inline;
  border: .05rem solid #a3a1ba;
}

div.photos-results {
  background: mintcream;
  margin: 5px 0px;
  border-radius: 5px;
  background: #d1d3dd;
  border-radius: 7px;
  padding: 15px;
  color: #1b011b;
  font-size: 1.5em;
  /* height: 100vh; */
  border: 1px solid #ababba;
  box-shadow: 5px 5px #bbbdbe61;
}

div.photos-results > h2 {
  font-size: 1.5em;
}

div.search-books-input-wrapper {
  margin: 15px 0px;
  /* font-size: 1.5em; */
  /* height: 2em; */
  padding: 1vh 1vh;
}

div.container {
  margin-top: 0px;
}

label.form-label {
  font-size: 1.5em;
  display: inline;
}

input#greeting_text, div.search-books-input-wrapper input {
  font-size: 1.5em;
  /* height: 2em; */
  padding: 1vh 1vh;
  /* margin: 10px; */
  display: inline;
  height: 100%;
  margin: 10px 0pc;
}

.menu-item a {
  color: black;
}

li.menu-item {
  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

.navbar {
  padding: 15px;
  background: #b2b2d9;
  font-weight: 800;
  color: mintcream;
  /* font-size: 2em; */
}

div.container button.btn {
  font-size: 1em;
  /* height: 2em; */
  padding: 1vh 1vh;
  /* margin: 10px; */
  display: inline;
  height: 6vh;
  margin: 10px 0pc;

  border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

p.messageMobile {
  display: none;
}

/* For mobile phones: */
@media only screen and (max-device-width: 480px) {
  div.search-photos, div.container {
    display: none;
  }
  p.messageMobile {
    display: block;
  }
  

}


label.form-label {
  width: 20%;
}

input#greeting_text {
  width: 80%;
  margin-left: 10px;
}

.dropdown .btn-group .dropdown-toggle {
  color: #450063;
  font-weight: 500;
  font-size: 20px;
}


/* width */
div.photos-results::-webkit-scrollbar {
  width: 20px;
}
 
/* Handle */
div.photos-results::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
div.photos-results::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}

div.dropdown {
  font-size: 24px;
  /* background: white; */
  padding: 5px;
}

div.display-value {
  display: inline-block;
  flex-wrap: wrap;
  padding: 2.5px;
}

div.display-value p {
  margin: 0;
  font-size: 24px;
  background: white;
  /* padding:5px; */
  border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

div.dropdown a {
  margin-right: 0;
  border-radius: 10px!important;
}

.image-container {
  display: inline-block;
  position: relative;
}

.image-container svg {
  position: absolute;
  right: 0;
  opacity: .8;
  /* padding: 3px; */
  border: 3px solid white;

}

.image-container ul.menu {
  display: none;
  visibility: hidden;
}

.image-container ul.menu li{
  cursor: pointer;
}

button.save {
  float: right;
  background: #a8a4b9;
  color: white;
}

button.reset {
  background: #301f84;
  color: white;
}

/* button.save:hover, button.reset:hover {
  opacity: 0.5;
} */